<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>CSB-Inspector</title>
  <!--<base href="/">-->
  <base href="<%= data.baseUrl %>/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="stylesheet" href="styles.46eb7c13d2a41e4ad797.css"></head>
<body>
  <!--<span id="host" style="display: none;">http://localhost:8888</span>-->
  <span id="host" style="display: none;"><%= data.host %></span>
  <app-root></app-root>
<script src="runtime-es2015.41f8b859a598c382098b.js" type="module"></script><script src="runtime-es5.41f8b859a598c382098b.js" nomodule defer></script><script src="polyfills-es5.bdb4d59fd4ce80ffb34b.js" nomodule defer></script><script src="polyfills-es2015.4ea54f4639cf70328be1.js" type="module"></script><script src="scripts.6aa046b7a7c43d6346eb.js" defer></script><script src="main-es2015.fb77ef613c5b979f2e07.js" type="module"></script><script src="main-es5.fb77ef613c5b979f2e07.js" nomodule defer></script></body>
</html>
