/*html {*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*min-height: 100vh;*/
/*}*/
/*html body {*/
  /*margin: 0;*/
  /*background: #2980b9;*/
  /*background: linear-gradient(to right, #2980b9, #2c3e50);*/
  /*font-family: 'Montserrat', sans-serif;*/
/*}*/
/*.heading {*/
  /*color: #fff;*/
  /*text-align: center;*/
/*}*/
/*.heading h1 {*/
  /*margin-bottom: 3rem;*/
  /*font-weight: 300;*/
  /*position: relative;*/
/*}*/
/*.heading h1:after {*/
  /*content: '';*/
  /*height: 2px;*/
  /*width: 2rem;*/
  /*position: absolute;*/
  /*left: 50%;*/
  /*bottom: -1rem;*/
  /*transform: translateX(-50%);*/
  /*background-color: #fff;*/
/*}*/
/*.container {*/
  /*background-color: #fff;*/
  /*padding: 2rem;*/
  /*box-shadow: 4px 4px 8px rgba(0,0,0,0.1);*/
/*}*/
/*.container .nav {*/
  /*background-color: #fafafa;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: center;*/
  /*padding: 1rem;*/
  /*margin: 0 -3rem 2rem;*/
  /*box-shadow: 2px 2px 4px rgba(0,0,0,0.1);*/
  /*position: relative;*/
/*}*/
/*.container .nav:before,*/
/*.container .nav:after {*/
  /*content: '';*/
  /*height: 0;*/
  /*width: 0;*/
  /*position: absolute;*/
  /*top: 0;*/
  /*border: 0.75rem solid transparent;*/
  /*border-bottom: 0.75rem solid #f2f0f0;*/
  /*transform-origin: center;*/
  /*box-shadow: 2px 2px 4px rgba(0,0,0,0.1);*/
  /*z-index: -1;*/
/*}*/
/*.container .nav:before {*/
  /*left: 0;*/
  /*transform: translateY(-0.45rem) rotate(135deg) translateX(-0.4rem);*/
/*}*/
/*.container .nav:after {*/
  /*right: 0;*/
  /*transform: translateY(-0.45rem) rotate(-135deg) translateX(0.4rem);*/
/*}*/
/*.container .nav a {*/
  /*display: inline-block;*/
  /*margin: 0 3rem;*/
  /*font-size: 2rem;*/
  /*color: #2980b9;*/
  /*opacity: 0.7;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .nav a:hover {*/
  /*opacity: 1;*/
/*}*/
/*.container .list .num {*/
  /*padding: 0.5rem 2rem;*/
  /*display: flex;*/
  /*align-items: center;*/
  /*justify-content: flex-start;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(0):before {*/
  /*content: '0';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(1):before {*/
  /*content: '1';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(2):before {*/
  /*content: '2';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(3):before {*/
  /*content: '3';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(4):before {*/
  /*content: '4';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(5):before {*/
  /*content: '5';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(6):before {*/
  /*content: '6';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(7):before {*/
  /*content: '7';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(8):before {*/
  /*content: '8';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:nth-child(9):before {*/
  /*content: '9';*/
  /*font-size: 4rem;*/
  /*font-weight: bold;*/
  /*color: #000;*/
  /*width: 2rem;*/
  /*opacity: 0.05;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num h3 {*/
  /*position: relative;*/
  /*left: -1.5rem;*/
  /*color: #3d3d3d;*/
  /*font-size: 0.85rem;*/
  /*transition: 0.25s;*/
/*}*/
/*.container .list .num:hover {*/
  /*background-color: #fafafa;*/
  /*cursor: pointer;*/
/*}*/
/*.container .list .num:hover:before {*/
  /*opacity: 0.2;*/
/*}*/
/*.container .list .num:hover h3 {*/
  /*left: 1rem;*/
/*}*/
/*.message {*/
  /*color: #fff;content*/
  /*text-align: center;*/
  /*text-transform: uppercase;*/
  /*margin-top: 2rem;*/
/*}*/


#config{
  display: none;
}


* {
  box-sizing: border-box;
  max-width: 100%;
}
html, body {
  height: 100%;
  margin: 0;
  padding: 0.25em;
  width: 100%;
  font: 16px 'Roboto';
  background-color: #eee;
  color: #7a7572;
}
h2 {
  text-align: center;
  margin: 0.5em 0 0;
  /*font-size: 3em;*/
  letter-spacing: 1px;
  text-shadow: 0 1px 2px #666;
}
.accordion {
  margin: 3em auto;
  max-width: 30em;
}
.toggle {
  display: none;
}
.option {
  position: relative;
  margin-bottom: 3px;
}
.title, .content {
  backface-visibility: hidden;
  transform: translateZ(0);
  transition: all 0.2s;
}
.title {
  background: #fff;
  padding: 1em;
  display: block;
  color: #7a7572;
  font-weight: bold;
}
.title:after, .title:before {
  content: '';
  position: absolute;
  right: 1.25em;
  top: 1.25em;
  width: 2px;
  height: 0.75em;
  background-color: #7a7572;
  transition: all 0.2s;
}
.title:after {
  transform: rotate(90deg);
}
.content {
  max-height: 0;
  overflow: hidden;
  background-color: #fff;
}
.content p {
  margin: 0;
  padding: 0.5em 1em 1em;
  font-size: 0.9em;
  line-height: 1.5;
}
.toggle:checked + .title, .toggle:checked + .title + .content {
  box-shadow: 3px 3px 6px #ddd, -3px 3px 6px #ddd;
}
.toggle:checked + .title + .content {
  max-height: 700px;
}
.toggle:checked + .title:before {
  transform: rotate(90deg) !important;
}
